<div class="header">
  <h1>Computer Repair Service</h1>
  <p>Our business and our team has grown in size and experience. We understand 
    how valuable your time is, which is why we make the greatest effort to get your
    repair done as quickly as possible.</p>
</div>

<div class="row">

<div class="card " style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/4297820/pexels-photo-4297820.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hardware Repair</h5>
    <p class="card-text">20$</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>

<div class="card " style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/3861964/pexels-photo-3861964.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Laptop Repair</h5>
    <p class="card-text">20$</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>

<div class="card " style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/2764678/pexels-photo-2764678.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Custom Repair</h5>
    <p class="card-text">20$</p>
    <a href="#" class="btn btn-primary">Book Now</a>
  </div>
</div>

</div>